[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/researcher"]
	path = themes/researcher
	url = git@github.com:ojroques/hugo-researcher.git
